@font-face {
    font-family: "Arial", bold; 
}
    
.body{
    font-family: "Arial", bold;  
    color:red;
    margin-left: 6%;
    margin-top:6%;
  }
  form{
      font-size: 24px; 
  }
  #calculateResult{
      margin-top: 10px;
  }
  #count{
      margin-top: 10px;
  }
