
.slider {
	position: relative;
	overflow: hidden;
} 

@keyframes slider {
	from {
		top: 0;
		left: 5;
	}
	25% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(-500px, 0);	
	}
	75% {
		transform: translate(500px, 0);
		z-index: -1;
	}

	to {
		transform: (0px, 0px);
		z-index: 1;
	}
}


.sli {
	position: absolute;
	top: 0;
	left: 5;
	animation-name: slid;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.sli3 { 
	animation-delay: 6s;
}
.sli4 { 
	animation-delay: 3s;
}

.arrow{
	right:13%;
	top: 35%;
	position:absolute;
}


@keyframes slid {
	from {
		top: 0;
		left: 5;
	}
	16.6% {
		transform: translate(0px, 0px);
	}
	33.33% {
		transform: translate(-800px, 0);
	}
	40% {
		transform: translate(-800px, 300px);
	}
	60% {
		transform: translate(800px, 300px);
	}
	83.33% {
		transform: translate(1000px, 0);
		
	}
	to {
		transform: (0px, 0px);
		
	}
}
