#link_1, #link_2, #link_3 {
    background-color: #17c111;
    font-family: fantasy;
}

#bf_list, #content table, #superform {
    background-color: #aa98a9;
    font-family: cursive;
}
header main, header aside {
    background-color: #f36223;
    font-family: fantasy;
    vertical-align: middle;
    height: 100%;
}
table td, th {
    border: 1px solid rgb(192, 1, 1);
}

table {
    width: 100%;
}

table_odd {
    background-color: #ed808b;
}

table_even {
    background-color: #006b52;
}

body footer {
    background-color: #64400f;
}

#mainer 
{
	background-color:  #1a162a;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 1000px;
	border-bottom: 5px solid black;
	
}
